/*Cores
Laranja - #FF8A65
Branco - #FFFFFF
Azul - #A6E7FF
Amarelo-Dourado - #FFE082
*/

/*Estilos Gerais*/
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}
/*Estilo Header*/
.header{
 height: 80px;
 width: 100%;
 background-color: #FF8A65;
}
.container-header{
 width: 960px;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 align-items: center;
}
.logo{
 border: 2px solid #FFE082;
}
.titulo{
 color: #FFF;
 text-transform: uppercase;
 letter-spacing: 3px;
}
/*Estilizando o códificador*/
.principal{
  height: 500px;
  background: #A6E7FF;
}
.container{
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}
.subtitulo{
  text-align: center;
  color: #111;
}
/*Estilizando o form*/
.formulario{
  border: 1px solid #FF8A65;
  height: 400px;
}
  .tituloForm, .tituloTextArea{
    color: #111;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px;
  }
  textarea{
    margin: 20px;
  }
  #divCifra{
    display: none;
  }
  #divBase64{
    display: none;
  }

/*Estilizando o footer*/
.footer{
   height: 80px;
   width: 100%;
   background-color: #FF8A65;
}
.footer p{
 text-align: center;
 padding: 30px;
 color: #FFF;
 font-weight: bold;
 letter-spacing: 2px;
}  