/*Cores
Laranja - #FF8A65
Branco - #FFFFFF
Azul - #A6E7FF
Amarelo-Dourado - #FFE082
*/

/*Estilos Gerais*/
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
}
textarea{
  width: 120px;
  height: 120px;
}
/*Estilo Header*/
.header{
 height: 80px;
 width: 100%;
 background-color: #FF8A65;
}
.container-header{
 width: 1080px;
 margin: 0 auto;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 align-items: center;
}
.logo{
 opacity: 75%;
}
.titulo{
 color: #FFF;
 text-transform: uppercase;
 letter-spacing: 3px;
}

/*Estilizando o form*/


.formulario-principal{
  background: #FFE082;
  opacity: 100%;
  width: 960px;
  margin: 20px auto;
  text-align: center;
  border: 1.5px solid #111;
}
.subtitulo{
  color: #111;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.subtitulo::after{
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background: #111;
  margin: 8px auto;
}
input{
  color: #111;
  padding: 10px;
  margin: 20px;
}

/*Estilizando o footer*/
.footer{
   height: 80px;
   width: 100%;
   background-color: #FF8A65;
}
.footer p{
 text-align: center;
 padding: 30px;
 color: #FFF;
 font-weight: bold;
 letter-spacing: 2px;
 margin: 0;
}  