/*Cores
Laranja - #FF8A65
Branco - #FFFFFF
Azul - #A6E7FF
Amarelo-Dourado - #FFE082
*/

/*Estilos Gerais*/
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
}
textarea{
  width: 200px;
  height: 100px;
}
/*Estilo Header*/
.header{
 height: 80px;
 width: 100%;
 background-color: #ffbd59;
}
.container-header{
 width: 1000px;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 align-items: center;
}
.logo{
 opacity: 75%;
}
.titulo{
 color: #FFF;
 text-transform: uppercase;
 letter-spacing: 3px;
}
/*Estilizando o form*/
.background{
  background: url(imagem/criptografia.png) no-repeat center;
  background-size: cover;
  opacity: 95%;
}
.formulario-principal{
  width: 800px;
  margin: 10px auto;
  text-align: center;
  border: 1.5px solid #111;
}
.subtitulo{
  color: #111;
  text-transform: uppercase;
  letter-spacing: 3px;
}
input{
  color: #111;
  margin: 5px;
}

/*Estilizando o footer*/
.footer{
   height: 80px;
   width: 100%;
   background-color: #ffbd59;
}
.footer p{
 text-align: center;
 padding: 30px;
 color: #FFF;
 font-weight: bold;
 letter-spacing: 2px;
}  